<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h3>Account Register</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" value="{{ name }}">
                        {{#if errors.name}}
                            <div class="alert alert-danger mt-2" >{{  errors.name }}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" value="{{ email }}">
                        {{#if errors.email}}
                            <div class="alert alert-danger mt-2" >{{  errors.email }}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" value="{{ password }}">
                        {{#if errors.password}}
                            <div class="alert alert-danger mt-2" >{{  errors.password }}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="password2" value="{{ password2 }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>